name: Metrics
on:
  schedule:
    - cron: "0 */6 * * *"   # cada 6 horas
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.music.svg
          token: NOT_NEEDED
          base: ""
          plugin_music: yes
          plugin_music_provider: youtube
          plugin_music_mode: recent
          plugin_music_limit: 5
          plugin_music_token: ${{ secrets.YOUTUBE_MUSIC_COOKIE }}
